.hero-container{
  padding: 1rem 0;
  border: 0.5px solid #E4E4E4;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #E4E4E4;
}

.hero-carousel {
  height: 17rem;
}

.react-multiple-carousel__arrow {
  font-size: 10px;
}

.hero-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-img-side {
  width: 60%;
}

.hero-img {
  width: 50rem !important;
  height: 20rem !important;
}

.hero-text-side{
  text-align: center;
  padding-right: 2rem;
}

.text{
  text-align: center;
}