$wrapper-height: 13rem;
$text-height: $wrapper-height / 2;
$statusHeight: 18rem;
$statusLineHeight: $statusHeight / 2;
//media max-width 959px
$venueWidthBanner959px: 19rem;
$venueWidthBanner500px: 22rem;

.venue-banner {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 22rem;
  height: 20rem;
  margin: auto;

  border: 1px solid #E4E4E4;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #E4E4E4;

  &__img-section {
    position: absolute;
    display: block;
    justify-content: center;

    &__img {
      opacity: 1;
      width: 22rem !important;
      height: 15rem !important;
      vertical-align: middle;
     
    }
  }

  &__restaurant-name-section {
    color: #2e2f35;
    font-size: 20px;
    text-align: center;
  }
 
  &__status {
    width: 22rem;
    height: $statusHeight;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    line-height: $text-height + $statusLineHeight;
  }

  &__offline {
    position: relative;
    opacity: 0.2;
  }

  &__online {
    position: relative;
    opacity: 1;
  }

  &__status-light-text {
    color: #646572;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

@media screen and (max-width: 959px) {
  .venue-banner {
    width: $venueWidthBanner959px;
    height: 18rem;
    margin: auto;

    &__img-section {
      &__img {
        width: $venueWidthBanner959px !important;
        height: 14rem !important;
      }
    }

    &__status {
      width: $venueWidthBanner959px;
      line-height: 14rem;
    } 
    
  }
}


